version: "3.9"

services:
  api:
    build: .
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env

  app:
    build: .
    command: streamlit run app/main.py --server.port=8501 --server.address=0.0.0.0
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    env_file:
      - .env

  db:
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5432:5432"
